/* background-color=#48A300
 */

*{
   box-sizing: border-box;
}
 body{
    background-color:rgba(72,163,0,0.07);
    font-family: "Poppins", sans-serif;
    margin: 0;
 }
 main{
    padding: 0 16px 32px;
 }
 /* title */
 .title h1{
    font-size: 64px;
    color: #48A300;
    text-align: center;
 }
 .title span{
    color: #000000;
 }
 /* app-container */
 .app-container{
    background-color: #FBFBFB;
    max-width: 660px;
    margin-inline: auto;
    border-radius: 15px;
    padding: 32px 48px;
    box-shadow: 0 0 5px 0px rgba(0 , 0 ,0, 0.1);
 }
 .sub-title{
    font-size: 32px;
 }
 .sun-icon{
    vertical-align: middle;
    margin-left: 16px;
 }
 /* progress-labe; */
 .progress-label{
    color:#858585;
    font-size: 14px;
    margin-bottom: 20px;

 }
/* progress-bar */
.progress-bar{
    height: 30px;
    background-color: rgba(72,163,0,0.07);
    border-radius: 15px;
    margin-bottom: 50px;

}
.progress-value{
    border-radius: 15px;
    background-color: #48A300;
    height: 100%;
    width:0;
    font-weight: 400;
    font-size: 10px;
    color: #EEFFE0;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}
.progress-value span{
   padding-left: 20px;
   min-width: max-content;
}
/* error-label */
.show-error .error-label{
   display: block;
}
.error-label{
    color: #FF5151;
    font-size: 14px;
    margin-top: 8px;
    display: none;
}
.completed .custom-checkbox{
   background-color: #48A300;
   border-color: #48A300;
}

.circle-container{
   border-radius:17px ;
   border:1px solid rgba(0 ,0,0,0.1);
   height: 82px;
   display: flex;
   align-items: center;
   padding:0 22px;
   background-color:#FFFFFF;
   margin-bottom: 46px;
}
.custom-checkbox{
   height: 24px;
   width: 24px;
   border: 2px solid #d2ccc3;
   border-radius: 50%;
   flex-shrink: 0;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;   
}
.check-icon{
   display: none;
}
.completed .check-icon{
   display: block;
}
.circle-input{
   border: none;
   padding-left: 29px;
   font-family: inherit;
   font-size: 16px;
   outline: none;
   /* background-color: red; */
   width: 100%;
   align-self: stretch;
   font-weight: 500;
   
}
.circle-input::placeholder{
   color:#D9D9D9;
}
.quote{
   font-weight: 500;
   font-size: 16px;
   text-align: center;
   color:#000000;
}
.made-with{
   font-size: 10px;
   font-weight: 500;
   text-align: center;
   color: #858585;
   margin-top: 64px;
}
.completed .circle-input{
   color: #48A300;
   text-decoration: line-through;
}
 /* mediaQuery */
 @media(max-width:768px){
    main .title h1 {
        font-size: 32px;
        text-align: center;
    }
    main .app-container{
        padding: 15px 34px;
    }
    .circle-container{
      height: 64px;
      margin-bottom: 24px;
      border-radius: 12px;

    }
    .custom-checkbox{
      height: 20px;
      width: 20px;
    }
    .made-with{
      margin-top: 32px;
    }
    .progress-bar{
      height: 24px;
    }
}
